body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6aabf1;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.services {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.services h2 {
    color: #80b2e7;
}

.services p {
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* header {
    background-color: hsl(211, 78%, 68%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
} */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.phone {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 300px;
}

.phone img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}

button {
    background-color: #6a9fd7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* button:hover {
    background-color: #6abde4;
} */
