<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/app/static/index.css">
    </head>
    <body>
       <div class="Client">
        <a href="/signup"><img src="/app/static/image copy 8.png" alt="">
        <form class="form" action="/SignUp_Client" method="post">
            <a href="/SignUp_Client"></a><input type="submit" value="Client">
          </form>
        </a>
        </div>

       <div class="Admin">
        <a href="/adminsignup"><img src="/app/static/image copy 10.png" alt="">
        <form action="/adminsignup" method="post">
          <input type="hidden" id="Admin" name="Admin" value="Admin"><br><br>
          <input type="submit" value="Admin">
        </form>
      </a>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>